<div class="row">
	<p class="h2 col-10 my-4">Araç Listesi</p>
	<a class="btn btn-primary col-2 my-4" href="/vehicles/add">Araç
		Ekle</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Müşteri TC</th>
				<th scope="col">Araba Adı</th>
				<th scope="col">Hasarlı</th>
				<th scope="col">Plaka</th>
				<th scope="col">Şasi No</th>
				<th scope="col">İşlemler</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vehicle : ${vehicles}">
				<th scope="row" th:text="${vehicle.id}"></th>
				<td th:each="customerDetail : ${customerDetails}" th:if="${customerDetail.id} == ${vehicle.customerId}"
					th:text="${customerDetail.tc}"></td>
				<td th:each="carDetail : ${carDetails}" th:if="${carDetail.id} == ${vehicle.carId}"
					th:text="${carDetail.carName}"></td>
				<td th:if="${vehicle.damaged}" th:text="Hasarlı"></td>
				<td th:if="${!vehicle.damaged}" th:text="Hasarsız"></td>
				<td th:text="${vehicle.licensePlate}"></td>
				<td th:text="${vehicle.vin}"></td>

				<td><a class="btn btn-success" th:href="'/estimations/list?vehicleId=' + ${vehicle.id}">Teklifler</a>
					<a class="btn btn-warning" th:href="'/vehicles/edit/' + ${vehicle.id}"> Düzenle </a>
					<button type="button" class="btn btn-danger" data-bs-toggle="modal"
						th:data-bs-target="'#deleteModal-' + ${vehicle.id}">Sil</button>
					<div class="modal fade" th:id="'deleteModal-' + ${vehicle.id}" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Araç
										Silinsin mi?</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
								</div>
								<div class="modal-body">
									Aracı silmek istiyor musunuz? <strong>Bu işlem geri
										alınamaz.</strong>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">İptal</button>
									<a class="btn btn-primary" th:href="'/vehicles/delete/' + ${vehicle.id}">Aracı
										Sil</a>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>