<form action="#" th:action="'/estimations/kasko'" method="GET">
	<div class="row align-items-center" th:if="${customers!=null}">
		<div class="form-floating col-4 p-1">
			<select id="customerSelect" class="form-select" th:name="customerId">
				<option th:each="c : ${customers}" th:value="${c.id}"
					th:text="${c.firstName + ' ' + c.lastName + ' ' + c.tc}" />
			</select> <label for="customerSelect">Müşteri Seçiniz:</label>
		</div>
		<div class="col-3 p-1">
			<a class="btn btn-secondary" href="/customers/add">Yeni Müşteri</a>
		</div>
		<div class="col-12 p-1">
			<button class="btn btn-warning" type=submit>Araçları Getir</button>
		</div>
	</div>
	<div class="row align-items-center" th:if="${vehicles!=null}">
		<div class="col-12 p-1">
			<a th:href="'/estimations/kasko'" class="btn btn-secondary">
				Müşteri Seçimine Geri Dön</a>
		</div>
		<div class="form-floating col-6 p-1">
			<select id="vehicleSelect" class="form-select" th:name="vehicleId">
				<option th:each="v : ${vehicles}" th:value="${v.id}"
					th:text="${v.licensePlate}" />
			</select> <label for="vehicleSelect">Araç Seçiniz:</label>
		</div>
		<div class="col-3 p-1">
			<a class="btn btn-secondary" href="/vehicles/add">Yeni Araç</a>
		</div>
		<div class="col-12 p-1">
			<button class="btn btn-primary" type=submit>Hesapla</button>
		</div>
	</div>
</form>
<div class="row align-items-center" th:if="${estimations!=null}">
	<div class="card col-3 m-2" th:each="estimation : ${estimations}">
		<div class="card-body">
			<h5 class="card-title" th:text="${estimation.insuranceCompanyName}"></h5>
			<h6 class="card-subtitle mb-2 text-body-secondary" th:text="${estimation.insuranceTypeName}"></h6>
			<p class="card-text"
				th:text="'Fiyat: ' + ${#numbers.formatDecimal(estimation.price, 0, 'POINT', 2, 'COMMA')} + ' TRY'" />
			<a th:href="'/estimations/confirm/' + ${estimation.id}" class="btn btn-success">Kabul Et</a>
		</div>
	</div>
	<div class="col-12 row">
		<span class="col-9 lead mt-3">Teklifler kaydedilmiştir. Teklifler listesinden ulaşabilirsiniz.</span>
		<a th:href="'/estimations/kasko'" class="col-3 btn btn-secondary my-2">Yeni
			Fiyat Teklifi</a>
	</div>
</div>