<div class="row">
	<p class="h2 col-10 my-4">Fiyat Teklifleri Listesi</p>
	<table class="table table-striped">
		<thead>
			<tr class="table-dark">
				<th scope="col">Id</th>
				<th scope="col">Sigorta Tipi</th>
				<th scope="col">Sigorta Şirketi</th>
				<th scope="col">Sigortalanan Adı</th>
				<th scope="col">Fiyat</th>
				<th scope="col">Teklif Tarihi</th>
				<th scope="col">İşlemler</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="estimationDetail : ${estimationDetails}" th:class="${estimationDetail.confirmed?'table-success':''}" th:id="${estimationDetail.id}">
				<th scope="row" th:text="${estimationDetail.id}"></th>
				<td th:text="${estimationDetail.insuranceTypeName}"></td>
				<td th:text="${estimationDetail.insuranceCompanyName}"></td>
				<td th:text="${estimationDetail.parameterName}"></td>
				<td th:text="${estimationDetail.price + ' TRY'}"></td>
				<td	th:text="${#temporals.format(estimationDetail.estimationDate, 'dd MMMM yyyy HH:mm')}"></td>
				<td>
					<button class="btn btn-success" type="button" onclick="confirmEstimation(this)" th:if="${!estimationDetail.confirmed}">
						<i class="fa-solid fa-check"></i>
					</button>
					<button class="btn btn-warning" onclick="revokeConfirmation(this)" th:if="${estimationDetail.confirmed}">
					  <i class="fa-solid fa-rotate-left"></i>
					</button>
					<button class="btn btn-danger" onclick="deleteEstimation(this)">
					  <i class="fa-solid fa-trash"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script>
  function confirmEstimation(btn){
	  var xhttp = new XMLHttpRequest();
	  xhttp.onreadystatechange = function() {
	    if (this.readyState == 4 && this.status == 200) {
            window.location.reload();
	    }
	  }
	  xhttp.open("POST", "/estimations/confirm", true);
	  xhttp.setRequestHeader("Content-type",
      "application/json");
	  xhttp.send(parseInt(btn.parentElement.parentElement.id));
  }
  function revokeConfirmation(btn){
	    var xhttp = new XMLHttpRequest();
	    xhttp.onreadystatechange = function() {
	      if (this.readyState == 4 && this.status == 200) {
	          window.location.reload();
	      }
	    }
	    xhttp.open("POST", "/estimations/revokeConfirmation", true);
	    xhttp.setRequestHeader("Content-type",
	      "application/json");
	    xhttp.send(parseInt(btn.parentElement.parentElement.id));
	  }
  function deleteEstimation(btn){
	    var xhttp = new XMLHttpRequest();
	    xhttp.onreadystatechange = function() {
	      if (this.readyState == 4 && this.status == 200) {
	    	    window.location.reload();
	      }
	    }
	    xhttp.open("POST", "/estimations/delete", true);
	    xhttp.setRequestHeader("Content-type",
	      "application/json");
	    xhttp.send(parseInt(btn.parentElement.parentElement.id));
	  }
</script>