<section class="">
	<div class="container">
		<div>
			<h2>Araç Kasko Sigortası</h2>
			<div>
				<div>
					<h3>Araç Kasko Sigortası Nedir?</h3>
					<div>
						Kasko, hasar ve kaza durumlarında aracında ortaya çıkan zarar
						masraflarını karşılar. Bu sayede yüksek hasar masraflarına karşı
						bütçeni korur. Kasko sigortan aşağıdaki durumlarda devreye girer;
						<br> <br>
						<ul>
							<li>Aracının başka bir araçla çarpışması</li>
							<li>Aracına başka bir aracın ya da yabancı bir maddenin
								çarpması</li>
							<li>Aracını iraden dışında bir yere çarpman</li>
							<li>Üçüncü kişilerin aracına zarar vermesi</li>
							<li>Aracının ve parçalarının çalınması</li>
							<li>Aracının yanması</li>
						</ul>
					</div>
				</div>
				<div>
					<div>
						<h3>Online Kasko Sigortası Nasıl Alınır?</h3>
						<div>
							Kasko sigortanı internet üzerinden hızlı bir şekilde satın
							alabilirsin. Online kasko teklifi almak için T.C. kimlik ve cep
							telefonu numaranı yukarıda bulunan teklif alma aracına girmen
							yeterlidir. Sadece 2 dakika içerisinde kasko tekliflerini tek bir
							ekranda karşılaştırabilirsin. <br> <br>Sigortam.net
							olarak kasko teklifleri arasından tercih yapmanı daha da
							kolaylaştırmak için sana özel ürün önerileri sunuyoruz. “En
							Kapsamlı”, “En Ucuz” ve “Önerilen Teklif” başlıklarıyla senin
							için öne çıkardığımız kasko ürünlerini inceleyebilirsin. <br>
							<br> Anlaşmalı sigorta şirketlerinin teklifleri arasından
							aracını en geniş kapsamla koruma altına almak istiyorsan en geniş
							teminatlı kaskoyu seçebilir, fiyat benim için tek kriter diyorsan
							en ucuz kasko önerisini tercih edebilirsin. En uygun fiyata
							maksimum teminatlara sahip kaskoyu almak için de önerilen teklif
							seçeneği tam sana göre olacaktır. Sen de ihtiyaçlarına uygun
							poliçeleri incelemek için online kasko teklifi al, satın alma
							işlemin tamamlandıktan sonra poliçen e-mail adresine gönderilsin.
						</div>
					</div>
				</div>
				<div class="container fixed-bottom">
					<a class="btn btn-primary"
						href="/insurances/calculate/kasko"><span> Kasko
							Sigortası Teklifi Al </span> </a>
				</div>
				<div>
					<div>
						<h3>Kasko Yaptırmak İçin Nelere Dikkat Edilmeli?</h3>
						<div>İlk defa kasko yaptırmak isteyenler ya da kasko
							yenileme zamanı gelen araç sahipleri için poliçe seçimi yapmak
							oldukça önemli bir konudur. Kasko yaptırma sırasında dikkat
							edilecek ilk kriter poliçenin teminat kapsamıdır. İhtiyari mali
							mesuliyet (İMM),hasarsızlık indirimi koruma, orijinal cam
							değişimi, ikame araç, servis geçerliliği gibi avantajlı kasko
							teminatlarını kapsayan bir poliçe tercih edersen, hasar
							durumlarına karşı daha geniş kapsamlı bir koruma elde
							edebilirsin. Araç kasko yaptırma konusunda bir diğer önemli
							kriter ise bütçene uygun poliçeyi belirlemektir. En uygun
							primlerle en kapsamlı poliçeyi anında bulabilmek için bilgilerini
							girerek hızlı kasko teklifi alabilirsin. Bu sayede kendi
							ihtiyaçların için en iyi kasko teklifini seçerek hasar risklerine
							karşı güvence oluşturabilirsin. Daha düşük kasko ücretleri olan
							poliçeleri incelemek için teminat kapsamı dar olan ürünlere
							bakabilirsin.</div>
					</div>
				</div>
				<div>
					<div>
						<h3>Kasko Sigortası Nasıl Hesaplanır?</h3>
						<div>
							Araç kasko fiyatları hesaplanırken aracının markası, modeli,
							üretim yılı, plakası gibi unsurlar dikkate alınır. Aynı zamanda
							ehliyet süren ve mesleğin de fiyatları etkiler. <br> <br>
							Aracınla daha önce herhangi bir kazaya karışıp karışmadığın da
							kasko fiyatının hesaplanmasında etkili bir unsurdur. Hasarsız
							geçirdiğin bir yılın sonunda poliçeni yenilerken hasarsızlık
							indirimi alabilir, kasko poliçeni daha uygun bir fiyata
							yaptırabilirsin. <br> <br> Kasko fiyat hesaplamasında
							en önemli kriterlerden biri de teminat kapsamıdır. Çarpma,
							çarpılma gibi ana teminatların yanında kasko sigortana birçok ek
							teminat ekletebilirsin. Örneğin mini onarım, yol yardım ya da
							ihtiyari mali mesuliyet ek teminatları olan bir kasko
							sigortasının fiyatı, ek teminatları olmayan bir kaskoya göre daha
							yüksek olabilir.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>