<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:if="${title == null}">Sigortacın</title>
<title th:if="${title != null}" th:text="${title} + ' | Sigortacın'"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:rel="stylesheet" th:href="@{/webjars/izitoast/dist/css/iziToast.min.css} "/>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
</head>

<body onLoad="toast()" class="bg-light">
	<nav
		class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Sigortacın</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/">Ana Sayfa</a></li>
					<!--  				<li class="nav-item"><a class="nav-link" href="#">Link</a></li> -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle active" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Sigortalar </a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item"
								href="/insurances/details/kasko">Kasko</a></li>
							<li><a class="dropdown-item"
								href="/insurances/details/trafik">Trafik Sigortası</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="/insurances/list">Tüm
									Sigortalar</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/customers/list">Müşteriler</a></li>
					<!-- <li class="nav-item"><a class="nav-link disabled">Disabled</a> -->

				</ul>
				<!-- <form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Ara</button>
				</form> -->
			</div>
		</div>
	</nav>

	<div class="container p-2" style="width: 100%;min-height: 85vh;">
		<div id="content" th:replace="~{${controller}+'/'+${page}+'.html'}" />
	</div>
	<footer class="footer py-2 bg-light">
		<div class="container text-muted">
			Made by <a class="text-muted" href="https://github.com/myavkat">MyavKat</a>
		</div>
	</footer>
</body>
	
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/izitoast/dist/js/iziToast.min.js}"></script>
<script th:if="${toastError}" th:inline="javascript">
function toast(){
  iziToast.error({
    title : 'Hata!',
    message : /*[[${toastMessage}]]*/ "Varsayılan mesaj."
  });}
</script>
<script th:if="${toastSuccess}" th:inline="javascript">
function toast(){
  iziToast.success({
    title : 'Başarılı!',
    message : /*[[${toastMessage}]]*/ "Varsayılan mesaj."
  });}
</script>
<script th:if="${toastWarning}" th:inline="javascript">
function toast(){
  iziToast.warning({
    title : 'Uyarı!',
    message : /*[[${toastMessage}]]*/ "Varsayılan mesaj."
  });}
</script>
</html>