<h2>Sigorta Listesi</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Taban Fiyat</th>
      <th scope="col">Şirket Adı</th>
      <th scope="col">Sigorta Tipi</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="insurance : ${insurances}">
      <th scope="row" th:text="${insurance.id}"></th>
      <td th:text="${insurance.basePrice}"></td>
      <td th:text="${insurance.companyId}"></td>
      <td th:text="${insurance.insuranceTypeId}"></td>
    </tr>
  </tbody>
</table>
