
<div class="col px-0">
	<h1>Sigortada Güvenin Adresi</h1>
	<div class="h2">Doğru Ürün. İyi Fiyat. 7/24 Hizmet.</div>
	<div class="row">
		<div class="col-6 col-md-4 p-2">
			<div class="card">
				<img
					src="https://cdnsnet.mncdn.com/facelift/assets/img/elements/branchs/category/traffic.svg"
					class="card-img-top" alt="Trafik Sigortası">
				<div class="card-body">
					<div class="card-title">
						<span>Trafik Sigortası</span>
					</div>
					<a class="btn btn-primary" href="/insurances/calculate/trafik">Fiyat
						Hesapla</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-md-4 p-2">
			<div class="card">
				<img
					src="https://cdnsnet.mncdn.com/facelift/assets/img/elements/branchs/category/auto.svg"
					class="card-img-top" alt="Kasko Sigortası">
				<div class="card-body">
					<div class="card-title">
						<span>Kasko</span>
					</div>
					<a class="btn btn-primary" href="/insurances/calculate/kasko">Fiyat
						Hesapla</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-md-4 p-2">
			<div class="card">
				<div class="badge-tag branch-list__boxTag color-bg-05">Yeni</div>
				<img
					src="https://cdnsnet.mncdn.com/facelift/assets/img/elements/branchs/category/imm.svg"
					class="card-img-top" alt="İMM">
				<div class="card-body">
					<div class="card-title">
						<span>İMM</span>
					</div>
					<a class="btn btn-primary" href="/insurances/calculate/imm">Fiyat Hesapla</a>
				</div>
			</div>
		</div>
		<div class="d-none d-md-block col-3 p-2">
			<div class="card">
				<img
					src="https://cdnsnet.mncdn.com/facelift/assets/img/elements/branchs/category/health.svg"
					class="card-img-top" alt="Özel Sağlık Sigortası">
				<div class="card-body">
					<div class="card-title">
						<span>Özel Sağlık</span>
					</div>
					<a class="btn btn-primary" href="/insurances/calculate/ozelSaglik">Fiyat
						Hesapla</a>
				</div>
			</div>
		</div>

		<div class="col-6 col-md-3 p-2">
			<div class="card">
				<img
					src="https://cdnsnet.mncdn.com/facelift/assets/img/elements/branchs/category/complementhealth-v2.svg"
					class="card-img-top" alt="Tamamlayıcı Sağlık Sigortası">
				<div class="card-body">
					<div class="card-title">
						<span>Tamamlayıcı Sağlık</span>
					</div>
					<a class="btn btn-primary" href="/insurances/calculate/tamamlayiciSaglik">Fiyat
						Hesapla</a>
				</div>
			</div>
		</div>

		<div class="col-6 col-md-3 p-2">
			<div class="card">
				<img
					src="https://cdnsnet.mncdn.com/facelift/assets/img/elements/branchs/category/dask-v2.svg"
					class="card-img-top" alt="DASK Sigortası">
				<div class="card-body">
					<div class="card-title">
						<span>DASK</span>
					</div>
					<a class="btn btn-primary" href="/insurances/calculate/dask">Fiyat
						Hesapla</a>
				</div>
			</div>
		</div>
		
    <div class="col-6 col-md-3 p-2">
      <div class="card">
        <img
          src="https://cdnsnet.mncdn.com/facelift/assets/img/elements/branchs/category/travel-v2.svg"
          class="card-img-top" alt="Seyahat Sağlık Sigortası">
        <div class="card-body">
          <div class="card-title">
            <span>Seyahat Sağlık</span>
          </div>
          <a class="btn btn-primary" href="/insurances/calculate/seyahatSaglik">Fiyat
            Hesapla</a>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
		<div class="col-4">
			<a href="/insurances/list" class="btn btn-primary m-0">Tüm Sigortaları Gör</a>
		</div>
	</div>
</div>
