<h1 class="text-center">Hızlı İşlemler</h1>
<div class="row">
  <div class="col-3 p-2">
    <div class="card text-center bg-warning">
      <div class="card-body">
        <h5 class="card-title text-truncate">Müşteri Ekle</h5>
        <p class="card-text">
          <a class="btn btn-primary" href="/customers/add"><i
            class="fa-solid fa-user-plus fa-2xl m-3"></i></a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-3 p-2">
    <div class="card text-center bg-warning">
      <div class="card-body">
        <h5 class="card-title text-truncate">Fiyat Hesaplayacılar</h5>
        <p class="card-text">
          <a class="btn btn-primary" href="/insuranceTypes/select">
          <i class="fa-solid fa-calculator fa-2xl m-3"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

